---
title: "Portfolio"
layout: default
description: "What I did"
header-img: "img/portfolio-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading" id="tag-heading">
					<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Chinese Version -->
<div class="zh">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title">
							<div class="row">
								<div class="col-md-12">
									<h1>项目经验与经历</h1>
								</div>
							</div>
						</div>
					</div>

					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/yuanqi.png" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>游戏《元气战姬学院》</b></p>
									<p>
										<strong>游戏类型：</strong>卡牌SLG、FPS二次元手游</br>
										<strong>时间：</strong>2016-09~至今</br>
										<strong>担任角色：</strong>游戏服务端开发</br>
										<strong>负责内容：</strong>Java游戏服务端新功能开发、游戏服务端压力测试与分析、游戏服务端现有问题发掘与优化建议
									</p>
									<a href="http://ms.163.com/" target="_blank" class="btn btn-default btn-sm" role="button">游戏下载地址</a>
								</div>
							</div>
						</li>
						
						
						
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/yuanqi.png" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>游戏《保密》</b></p>
									<p>
										<strong>游戏类型：</strong>AVG、FPS、RPG等等</br>
										<strong>时间：</strong>2016-03~2016-09</br>
										<strong>担任角色：</strong>Unity客户端开发</br>
										<strong>负责内容：</strong>游戏设计和开发</br>
										<strong>开发经历：</strong>我喜欢在网上看独立游戏开发者的故事，所以从优优学离职后，决定自己设计和开发一款游戏。
										
									</p>
								</div>
							</div>
						</li>
						

						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/uux.png" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>APP《优优学》</b></br></p>
									<p>
										<strong>时间：</strong>2015-02～2016-03</br>
										<strong>担任角色：</strong>android技术经理</br>
										<strong>负责内容：</strong>客户端架构</br>
										<strong>开发经历：</strong>
										那一天技术总监找到我，问我想不想做一款教育APP。我心里是不想的，但当时认为APP比较火，容易成功。于是我们一共5人，在拿到汉风投资的100万后，一起搬去了新公司。 这一年里经历了很多，CTO离开、新伙伴的离职，我慢慢地也对现在的工作感到乏味，从小我就喜欢玩游戏，在这样的想法下毅然辞职了。
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>


					<ul class="list-group">
						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/jiandui.jpg" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>游戏《战舰少女》</b></p>
									<p>
										<strong>游戏类型：</strong>SLG二次元手游</br>
										<strong>时间：</strong>2014-05~2015-02</br>
										<strong>担任角色：</strong>游戏服务端主程</br>
										<strong>负责内容：</strong>服务端架构、独立开发</br>
										<strong>开发经历：</strong>
										上个游戏失败后，手里没有事情。因为战舰少女二次元游戏的火爆，公司准备也开发一款同类手游。在项目最开始立项之前，技术总监找了我，这次我负责客户端开发。因为游戏客户端是一直想做的事情，以前没做是觉得在Java服务端还不够专的情况去，去做别的可能会什么都做不好。当然后面出现了狗血。。。
     </br>学习了几个月unity客户端开发后，原本负责战舰服务端同事A跟总监申请想做Unity客户端开发(公司这个比较好，员工可以根据自己的喜好和能力选择自己喜欢的项目和事情来做)。由于服务端没有合适的人，我又回到了服务端。
  SLG游戏服务端工作量相对小很多，大部分业务逻辑都是在客户端，所以开发起来比较快，搭好架构，我一个人不加班用了半年时间完成了所有模块。14年年底赶上国家严打，我们的游戏因为人物设定比较露，未能上线运营。
									</p>
								</div>
							</div>
						</li>

						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/sanguo.png" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>游戏《盗梦三国》</b></p>
									<p>
										<strong>游戏类型：</strong>MMORPG回合页游</br>
										<strong>时间：</strong>2013-10～2014-02</br>
										<strong>担任角色：</strong>游戏服务端高级程序</br>
										<strong>负责内容：</strong>活动、背包、副本、战斗、任务、支付接入等</br>
										<strong>开发经历：</strong>
										这是我参与开发的几个游戏中，界面最酷酷酷炫的，比较遗憾，上线后数据不太好。经过一个多月的数值调试、系统优化和修改，还是没有好的改进。最终宣布停止运营，项目卖给了狐玩网。
									</p>
								</div>
							</div>
						</li>

						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/hfxy.jpg" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>游戏《汉风西游OL》</b></p>
									<p>
										<strong>游戏类型：</strong>MMORPG回合手游</br>
										<strong>时间：</strong>2012-10～2013-10</br>
										<strong>担任角色：</strong>游戏服务端中级程序</br>
										<strong>负责内容：</strong>活动、服战、跨服聊天等功能开发</br>
										<strong>开发经历：</strong>
										 这是入职公司一年后参与的新项目，因为第一年的技术积累，所以这次负责了一些重要模块的设计和开发。和第一款游戏三国服务端进行比较，西游服务端技术和功能支持上进行了比较大的改变。
 游戏上线数据还不错、月流水有百万，虽然跟第一款游戏过千万月流水比起来有不少的差距，但是起码能养活几个小团队。 游戏上线后我没有什么事了，因为页游项目在即将上线时有个大的版本改动，服务端和客户端缺人，于是我跟另外一个服务端同事一起被安排到了页游项目组，他负责客户端，我负责服务端。
									</p>
								</div>
							</div>
						</li>

						<li class="list-group-item">
							<div class="row">
								<div class="col-md-4 col-xs-12 center">
									<img src="/img/in-portfolio/hxsg.jpg" class="img-thumbnail">
								</div>
								<div class="col-md-8 col-xs-12 post-container">
									<p><b>游戏《幻想三国OL》《乱舞三国》</b></p>
									<p>
										<strong>游戏类型：</strong>RPG、MMORPG回合制手游</br>
										<strong>时间：</strong>2011-10～2012-10</br>
										<strong>担任角色：</strong>游戏服务端初级程序</br>
										<strong>负责内容：</strong>游戏日常BUG修改、功能迭代和新功能开发等。</br>
										<strong>开发经历：</strong>
										  这是我工作的第一个项目，也是公司第一款盈利项目，月流水在千万以上，这个成绩在11年是相当不错的，记得当时网上有个全国游戏公司实力排行榜，汉风是排在第四名。
  进入公司第一年我主要是做日常维护和功能迭代,工作量不大，每天把工作做完后，剩余的时间我都在学习提升自己.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
	var $zh = document.querySelector(".zh");
	var $en = document.querySelector(".en");

	function onLanChange(index) {
		if(index == 0) {
			$zh.style.display = "block";
			$en.style.display = "none";
		} else {
			$en.style.display = "block";
			$zh.style.display = "none";
		}
	}
	onLanChange(0);
</script>